///colors

/*base colors */
$hemocyanin: #180048;
$siphon: #100030;

/*primary colors */
$soholights: #F050F8;
$akoya: #fa98ff;
$plum: #600e6b;
$bubblegum: #ff2ffb;

/* secondary */
$ink: #5840ff;
$bluetang: #6675f6;
$blueberry: #2d1a83;

/* tertiary */
$voltage: #60f0f8;
$aquamarine: #bdf2ff;

/*  text */
$ice: #F0FFFF;
$dustysky: #D9DDFF;
$purplehaze: #A59FC8;

/* action */
$success:#18f0b8;
$error:#ff3e68;
$warning: #ffa26b;


//break points
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;